/.vscode
/mnist_reader
/test
/src/reader.dSYM
/build
/out
/basecode
/reader.dSYM

#Some of these are related to eclipse. So i keep them out of my repo
.cproject
.dep/
.project
.settings/


# make and build files
*.lst
*.o
*.eep
*.lss
*.map
*.sym
*.bin
*.vscode
*.vs

# I keep these, since I prefer having the reference of the final build
# *.elf
# *.hex
